/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #f0f9ff;
    display: grid;
    grid-template-columns: minmax(min-content, 20rem);
    grid-template-rows: auto 1fr;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color:  hsl(230, 94%, 82%);
    border-radius: 100vw;
    margin-block: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color:  hsl(230, 20%, 45%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color:  hsl(230, 20%, 35%);
}


.card span::-webkit-scrollbar-track {
    background-color:  hsl(201, 50%, 69%);
    border-radius: 100vw;
    margin-block: .5rem;
}

.card span::-webkit-scrollbar-thumb {
    background-color:  hsl(201, 96%, 32%);
    border-radius: 100vw;
}

.card span::-webkit-scrollbar-thumb:hover {
    background-color:  hsl(201, 96%, 22%);
}

.content,
.header {
    padding: 10px;
}


/* HEADER */

.header {
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 30px;
    align-items: center;
}

.header > div {
    padding: 0 30px;
    margin: 0 10px;
}

.search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 1rem;
}

input[type="search"] {
    appearance: none;
    background-color: #dbeafe;
    border: none;
    border-radius: 2rem;
    line-height: 2rem;
    width: 80%;
    padding: 0 1rem;
}



.profile-btn {
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-self: end;
    width: max-content;
    gap: 1.3rem;
}

.profile-btn a {
    color: black;
}

.greeting {
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
    align-items: center;
}

.greeting a {
    grid-row: span 2;
}

.greeting div {
    font-size: small;
}

.greeting .name {
    font-size: x-large;
    font-weight: 700;
    grid-column: 2 / 3;
}

.creation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
}

.creation button {
    height: 2.6rem;
    width: 7rem;
    font-size: medium;
    font-weight: 700;
    border: none;
    background-color: #082f49;
    border-radius: 2rem;
}

/* DASHBOARD */

.sidebar {
    background-color: #082f49;
    color: #ffffff;
    grid-row: 1 / -1;
    font-size: x-large;
    font-weight: 700;
    padding: 20px;
    gap: 3rem;
    display: grid;
    align-content: start;
}

.side-part {
    display: grid;
    gap: 2px;
}

.dash-btn {
    display: grid;
    padding: 10px;
    font-size: large;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.dashboard {
    font-size: xx-large;
    gap: 0.5rem;
    padding: 10px 0;
}

.svg {
    filter: invert(100%);
}

.header .svg,
.content .svg  {
    filter: invert(0%);
}

a, button, .acc {
    color: white;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;
}

a:hover,
button:hover,
.acc:hover {
    top: -2px;
    cursor: pointer;
}

/* MAIN-CONTENT */

.content {
    background-color: #dbeafe;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    align-content: start;
    grid-template-rows: 22rem;
    grid-auto-rows: 22rem;
    gap: 2rem 0;
}

.projects {
    padding: 20px 0;
}

.announcements {
    padding: 20px 20px;
    display: grid;
    height: 23rem;
    gap: 8px;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 20px 20px 0px;
    display: grid;
    height: 100%;

}

.title {
    font-weight: 700;
    font-size: 20px;
}

.projects .title {
    margin-left: 10px;
}

.projects .wrapper {
    display: grid;
    grid-auto-rows: 17rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin: 10px;
    height: 75vh;
    align-items: center;
    justify-items: start;
}

.wrapper {
    overflow: auto;
}

.project {
    height: 15rem;
    width: 21rem;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 6px 10px lightgrey;
    border-left: 7px solid #0369a1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.project .card {
    margin: 20px;
    margin-bottom: 0;
    padding: 5px;
    grid-column: span 2;
}

.card p {
    font-size: large;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.card span {
    font-size: medium;
    color: grey;
    display: grid;
    height: 8rem;
    overflow: auto;
}

.announcement {
    padding: 10px 20px;
    margin: 0 30px;
}

.announcement p {
    font-size: medium;
    font-weight: 700;
}

.announcement span {
    font-size: small;
    color: grey;
}

.post-btn {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: all .2s ease-in-out;
    align-self: start;
}

.announcements .wrapper,
.trending .wrapper {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 6px 10px lightgrey;
}

.announcements .wrapper {
    display: grid;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.announcement:not(:last-child) {
    border-bottom: 2px solid rgb(216, 216, 216);
}

.trending .wrapper {
    display: grid;
    padding: 0 30px;
    justify-content: space-evenly;
    margin: 15px 0px;
}

.acc {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
}

.acc a {
    grid-row: span 2;
    grid-column: span 1;
}

.acc div {
    font-size: small;
}

.acc .at {
    color: black;
    font-size: medium;
}

.acc .bio {
    color: grey;
}
